# Compiled source #
##################
*.class

# OS generated fils #
#####################
.DS_Store
.DS_Store?

# Manually ignore #
##################
TTInterpreter/gen/
TTInterpreter/bin/
TTInterpreter/src/columbia/plt/tt/TTGrammar.tokens
!.gitignore
