import "<std>";

//Number a = 2 + 3;
//Number b;
//Calendar c;

main(){
	add(1, 1);
	Date d = getCurrentTime();
	add(1,1);
	print(1);
	Calendar c;
	String t = read("Enter Something:");
	Task task1;
	task1.name = "Name";
	task1.start = 2012.01.01;
	task1.end = 2012.02.02;
	
	addTask(c, task1);
	print(t);
	print(c);
	
	removeTask(c, task1);
	print("After remove");
	print(c);
	print(p());
}

Number add(Number a, Number b) {
	return a + b;
}

Number p()
{
	return 1;
}